.backgroundHome {
    background-image: url(/images/silla.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute !important;
    z-index: -1;
    opacity: 0.4;
}